:root {
    --light: #fffbdf;
    --green-light: #e4efe7;
    --green-medium: #34656d;
    --green-dark: #40514e;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-size: 5rem;
    color: var(--green-dark);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid var(--green-dark);
    text-shadow: 0.2rem 0.2rem 5rem #555;
    text-align: center;
}


.section-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3)),
    url(images/bg.jpeg) center no-repeat;
    /* background-color: var(--green-dark); */
    background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: var(--light);
    background-color: var(--green-medium);
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid var(--light);
    text-shadow: 0.2rem 0.2rem 1rem #555;
    /* transform: skew(-10deg); */
}

.person-img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    /* border: 0.7rem dotted #e41c6f; */
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    /* padding: 0.5rem; */
    padding: 0;
    opacity: 0.9;
}

.person-name {
    font-size: 2rem;
    color: var(--light);
    background-color: var(--green-medium);
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    /* transform: skew(-10deg); */
}

.section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--green-dark);
    background-color: var(--light);
    border: 0.3rem solid var(--green-dark);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.navbar {
    width: 100%;
    height: 4rem;
    background-color: var(--green-medium);
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    position: absolute;
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.change.navbar-link {
    color: var(--light);
}

.navbar-link:hover {
    color: #fff;
}

.navbar-link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom: 0.3rem;
    transition: width 0.2s;
}

.change.navbar-link::before {
    width: 130%;
}

.navbar-link:hover::before {
    width: 130%;
}

/* Section 2 */

.section-2 {
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.section-2-heading {
    margin-bottom: 5rem;
}

/* .progress-bars-wrapper {
    margin-bottom: 10rem;
} */

/* .progress-bar {
    width: 60rem;
    height: 3rem;
    background-color: #ccc;
    margin: 1.5rem 0;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 1rem #555;
    position: relative;
}

.progress-text {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: var(--light);
}

.progress-text span {
    margin: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress-percent {
    width: 0;
    height: 100%;
    background-color: var(--green-medium);
    border-radius: 0.3rem;
    transition: width 0.5s 0.5s ease-in-out;
} */

.services {
    margin-top: 10rem;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service:first-child, .service:last-child {
    align-self: flex-start;
}

.service i {
    font-size: 10rem;
    color: #888;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #777;
    width: 25rem;
    letter-spacing: 0.3rem;
    /* transform: skew(-10deg); */
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

/* Section 3 */

.section-3 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    /* background-color: #eef; */
    background-color: var(--green-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-wrapper {
    width: 100%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    transition: top 0.3s;
    z-index: 1;
}

.project:hover .project-text {
    top: 5rem;
    transition: top 0.3s 0.3s;
}

.project-name {
    font-size: 3rem;
    font-weight: 700;
    color: var(--green-dark);
    text-transform: capitalize;
}

.project-technologies {
    font-size: 1.8rem;
    color: var(--green-medium);
}

.project-img {
    width: 40rem;
    transition: opacity 0.3s;
}

.project:hover .project-img {
    opacity: 0.2;
}
.project-link {
    font-size: 2rem;
    font-weight: 500;
    color: var(--green-dark);
    letter-spacing: 0.1rem;
    border: 0.3rem solid var(--green-medium);
    padding: 0 1rem;
    background-color: var(--light);
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
}

.project:hover .project-link {
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
}
/* End of Section 3 */

/* Section 4 */

.section-4 {
    width: 100%;
    height: 70vh;
    background-color: var(--green-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-4-heading {
    color: var(--light);
    box-shadow: none;
    border-color: var(--light);
    margin-bottom: 5rem;
}

.contact-form {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: 0.2rem solid var(--green-medium);
    color: #555;
}

.contact-form textarea {
    min-height: 15rem;
    max-height: 15rem;
    max-width: 15rem;
    max-width: 100%;
}

.contact-form .contact-form-btn {
    background-color: var(--green-medium);
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}

#status {
    width: 50rem;
    text-align: center;
    border-radius: 3px;
    padding: 1rem;
    font-size: 2rem;
    color: var(--light);
}

#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

/* End of Section 4 */

/* Section 5 */

.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
}

.social-media {
    margin-bottom: 5rem;
}

.social-media-link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: var(--green-medium);
    border-radius: 0.5rem;
    display: inline-block;
}

.social-media-link i {
    font-size: 3rem;
    color: #fff;
}

.copyright {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;
}
/* End of Section 5 */

/* Responsive */

@media(max-width: 1200px) {
    .services {
        height: auto;
        flex-wrap: wrap;
    }
    
    .faq-container {
        width: 75%;
    }

    .service {
        margin: 3rem 2rem;
    }

    .section-4 {
        height: 80vh;
    }
}

@media(max-width: 800px) {
    .section-2 {
        padding: 0;
    }

    .faq-container {
        width: 100% !important;
    }
    .section-1-heading {
        font-size: 4rem;
    }

    .progress-bar {
        width: 50rem;
    }
}

@media(max-width: 600px) {
    .section-1-heading {
        font-size: 3rem;
    }
    
    .navbar-link {
        margin: 0 2rem;
        font-size: 1.5rem;
    }

    .section-2 {
        padding: 0rem;
    }

    .section-2-heading {
        margin-bottom: 10rem;
        margin-top: 10rem;
    }

    .progress-bar {
        width: 45rem;
    }

    .project-img {
        width: 100%;
    }

    .contact-form {
        width: 40rem;
    }

    .copyright {
        width: 70%;
    }
}

@media(max-width: 500px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 45%;
    }

    .section-1-heading {
        font-size: 2.5rem;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .progress-bar {
        width: 40rem;
    }

}

/* End of Responsive */

/* FAQ */

.faq-container {
    width: 65%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 30px;
    position: relative;
    transition: 0.3s ease;
  }
  
  .faq.active {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  }
  
  .faq.active::before,
  .faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
  }
  
  .faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
  }
  
  .faq-title {
    margin: 0 35px 0 0;
    font-size: 2rem;
    color: var(--green-dark);
  }
  
  .faq-text {
    margin: 30px 0 0;
    display: none;
    font-size: 2rem;
    color: var(--green-dark);
  }
  
  .faq.active .faq-text {
    display: block;
  }
  
  .faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px; 
    right: 30px;
    height: 30px;
    width: 30px;
  }
  
  .faq-toggle:focus {
    outline: 0;
  }
  
  .faq-toggle .fa-times {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
  }
  
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }
  
  .faq.active .faq-toggle {
    background-color: #9fa4a8;
  }

/* End of FAQ */